services:
  opaas-web:
    build:
      context: ./backend
    container_name: opaas_web
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - ./logs:/app/logs
      - ./backend:/app
    environment:
      - HOST_DATA_PATH=${HOST_DATA_PATH}
      - REDIS_HOST=opaas-redis # [新增] Redis 地址
    depends_on:
      - opaas-redis # [新增] 依赖顺序
    command: sh -c "mkdir -p /app/data/temp_tasks && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

  # [新增] Redis 服务
  opaas-redis:
    image: redis:alpine
    container_name: opaas_redis
    restart: always
    # 可选：如果想持久化 Redis 数据，取消下面注释
    volumes:
      - ./redis_data:/data
