services:
  # ==========================================
  # 1. 核心应用 (OPaaS)
  # ==========================================
  opaas-web:
    build:
      context: ./backend
    container_name: opaas_web
    restart: unless-stopped
    # 端口映射可以注释掉，因为流量通过 NPM 走内网进来，更加安全
    # ports:
    #   - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - ./logs:/app/logs
      - ./backend:/app
    environment:
      - HOST_DATA_PATH=${HOST_DATA_PATH}
      - REDIS_HOST=opaas-redis
    depends_on:
      - opaas-redis
    command: sh -c "mkdir -p /app/data/temp_tasks && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

    # [关键] 配置网络
    networks:
      - default # 保持与 Redis 的连接
      - npm_network # 加入 NPM 的网络，让 NPM 能访问到

  # ==========================================
  # 2. 缓存数据库 (Redis)
  # ==========================================
  opaas-redis:
    image: redis:alpine
    container_name: opaas_redis
    restart: always
    volumes:
      - ./redis_data:/data
    networks:
      - default # Redis 只需要被 Web 访问，不需要暴露给 NPM

# [关键] 声明外部网络
networks:
  npm_network:
    external: true
