services:
  opaas-web:
    build:
      context: ./backend
    container_name: opaas_web
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      # [新增] 日志持久化映射：宿主机 logs -> 容器 /app/logs
      - ./logs:/app/logs
    environment:
      - HOST_DATA_PATH=${HOST_DATA_PATH}
    command: sh -c "mkdir -p /app/data/temp_tasks && uvicorn main:app --host 0.0.0.0 --port 8000"
